mppause RCDATA "media-playback-pause.png"
mpplay RCDATA "media-playback-start.png"
mpstop RCDATA "media-playback-stop.png"
mpprev RCDATA "media-skip-backward.png"
mpnext RCDATA "media-skip-forward.png"
mppause22 RCDATA "media-playback-pause-22.png"
mpplay22 RCDATA "media-playback-start-22.png"
mpstop22 RCDATA "media-playback-stop-22.png"
mpprev22 RCDATA "media-skip-backward-22.png"
mpnext22 RCDATA "media-skip-forward-22.png"
mppause32 RCDATA "media-playback-pause-32.png"
mpplay32 RCDATA "media-playback-start-32.png"
mpstop32 RCDATA "media-playback-stop-32.png"
mpprev32 RCDATA "media-skip-backward-32.png"
mpnext32 RCDATA "media-skip-forward-32.png"