SHARPE_TABLIST_ARR_LEFT_PNG RCDATA "res\arr_left.png"
SHARPE_TABLIST_ARR_RIGHT_PNG RCDATA "res\arr_right.png"
SHARPE_TABLIST_ARR_LEFT_D_PNG RCDATA "res\arr_left_d.png"
SHARPE_TABLIST_ARR_RIGHT_D_PNG RCDATA "res\arr_right_d.png"
SHARPE_TABLIST_ARR_DOWN_PNG RCDATA "res\arr_down.png"