high RCDATA "audio-volume-high.png"
medium RCDATA "audio-volume-medium.png"
low RCDATA "audio-volume-low.png"
muted RCDATA "audio-volume-muted.png"
high32 RCDATA "audio-volume-high-32.png"
medium32 RCDATA "audio-volume-medium-32.png"
low32 RCDATA "audio-volume-low-32.png"
muted32 RCDATA "audio-volume-muted-32.png"