// ----------------------------------------------------------------------------
// List all the Bitmaps etc. to build into RES
// ----------------------------------------------------------------------------
SCL_IMG_CONFIG BITMAP "RC\config.bmp"
SCL_IMG_INFO BITMAP "RC\info.bmp"
SCL_IMG_START BITMAP "RC\start.bmp"
SCL_IMG_STATDISABLED BITMAP "RC\statusdisabled.bmp"
SCL_IMG_STATLOADED BITMAP "RC\statusloaded.bmp"
SCL_IMG_STATSTOPPED BITMAP "RC\statusstopped.bmp"
SCL_IMG_STOP BITMAP "RC\stop.bmp"
SCL_IMG_DISABLED BITMAP "RC\disabled.bmp"
