// ----------------------------------------------------------------------------
// List all the Bitmaps etc. to build into RES
// ----------------------------------------------------------------------------
SM_IMG_ARROW BITMAP "RC\arrow.bmp"
