#define IDS_NAME 666
#define IDS_DESCRIPTION 667
#define IDS_AUTHOR 668
#define IDS_EXTRADATA 670

STRINGTABLE
{
  IDS_NAME "SharpCenter"
  IDS_DESCRIPTION "The central configuration program"
  IDS_AUTHOR "Lee Green (Pixol@sharpe-shell.org)"
  IDS_EXTRADATA "priority: 0|delay: 0"
}