SWATCH_COLLECTION_ADD_PNG RCDATA "rc\plus.png"
SWATCH_COLLECTION_EDIT_PNG RCDATA "rc\gear.png"
SWATCH_COLLECTION_CANCEL_PNG RCDATA "rc\cancel.png"
SWATCH_COLLECTION_LOAD_PNG RCDATA "rc\load_green.png"
SWATCH_COLLECTION_SAVE_PNG RCDATA "rc\save_green.png"