<?xml version="1.0" encoding="iso-8859-1"?>
<SharpEMenuFile>
  <item>
    <type>label</type>
    <Caption>SharpE Menu</Caption>
  </item>
  <item>
    <type>separator</type>
  </item>
  <item>
    <type>link</type>
    <Caption>Computer</Caption>
    <Target>shell:drivefolder</Target>
    <Icon>icon.mycomputer</Icon>
  </item>
  <item>
    <type>link</type>
    <Caption>Control Panel</Caption>
    <Target>shell:ControlPanelFolder</Target>
    <Icon>icon.controlpanel</Icon>
  </item>
  <item>
    <type>separator</type>
  </item>
  <item>
    <type>link</type>
    <Caption>Documents</Caption>
    <Target>shell:Personal</Target>
    <Icon>icon.folder.documents</Icon>
  </item>
  <item>
    <type>submenu</type>
    <Caption>Desktop</Caption>
    <Target/>
    <Icon>icon.folder</Icon>
    <Items>
      <item>
        <type>dynamicdirectory</type>
        <Target>{#DesktopDir#}</Target>
        <MaxItems>-1</MaxItems>
        <Sort>0</Sort>
        <Filter/>
        <Recursive>0</Recursive>
      </item>
      <item>
        <type>dynamicdirectory</type>
        <Target>{#CommonDesktopDir#}</Target>
        <MaxItems>-1</MaxItems>
        <Sort>0</Sort>
        <Filter/>
        <Recursive>0</Recursive>
      </item>
    </Items>
  </item>
  <item>
    <type>submenu</type>
    <Caption>Startmenu</Caption>
    <Target/>
    <Icon>icon.folder</Icon>
    <Items>
      <item>
        <type>dynamicdirectory</type>
        <Target>{#StartMenuDir#}</Target>
        <MaxItems>-1</MaxItems>
        <Sort>0</Sort>
        <Filter/>
        <Recursive>0</Recursive>
      </item>
      <item>
        <type>dynamicdirectory</type>
        <Target>{#CommonStartMenuDir#}</Target>
        <MaxItems>-1</MaxItems>
        <Sort>0</Sort>
        <Filter/>
        <Recursive>0</Recursive>
      </item>
    </Items>
  </item>
  <item>
    <type>submenu</type>
    <Caption>Quick Launch</Caption>
    <Target/>
    <Icon>icon.folder.documents</Icon>
    <Items>
      <item>
        <type>dynamicdirectory</type>
        <Target>{#AppDataDir#}Microsoft\Internet Explorer\Quick Launch\</Target>
        <MaxItems>-1</MaxItems>
        <Sort>0</Sort>
        <Filter/>
        <Recursive>0</Recursive>
      </item>
    </Items>
  </item>
  <item>
    <type>separator</type>
  </item>
  <item>
    <type>submenu</type>
    <Caption>SharpE</Caption>
    <Target/>
    <Icon>icon.settings</Icon>
    <Items>
      <item>
        <type>link</type>
        <Caption>Root Directory</Caption>
        <Target>{#SHARPEDIR#}</Target>
        <Icon>icon.folder</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>User Settings Directory</Caption>
        <Target>{#SharpEUserSettingsDir#}</Target>
        <Icon>icon.folder.documents</Icon>
      </item>
      <item>
        <type>separator</type>
      </item>
      <item>
        <type>submenu</type>
        <Caption>Components</Caption>
        <Target/>
        <Icon>icon.folder</Icon>
        <Items>
          <item>
            <type>link</type>
            <Caption>SharpBar</Caption>
            <Target>{#SHARPEDIR#}SharpBar.exe</Target>
            <Icon>shell:icon</Icon>
          </item>
          <item>
            <type>link</type>
            <Caption>SharpCompile (Admin)</Caption>
            <Target>{#SHARPEDIR#}SharpCompile.exe</Target>
            <Icon>shell:icon</Icon>
          </item>
          <item>
            <type>link</type>
            <Caption>SharpCore</Caption>
            <Target>{#SHARPEDIR#}SharpCore.exe</Target>
            <Icon>shell:icon</Icon>
          </item>
          <item>
            <type>link</type>
            <Caption>SharpDesk</Caption>
            <Target>{#SHARPEDIR#}SharpDesk.exe</Target>
            <Icon>shell:icon</Icon>
          </item>
        </Items>
      </item>
      <item>
        <type>link</type>
        <Caption>Debug Console</Caption>
        <Target>{#SHARPEDIR#}SharpConsole.exe</Target>
        <Icon>icon.file</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Shell Manager (Admin)</Caption>
        <Target>{#SHARPEDIR#}SetShell.exe</Target>
        <Icon>icon.file</Icon>
      </item>
      <item>
        <type>separator</type>
      </item>
      <item>
        <type>link</type>
        <Caption>Bug Tracker and Wiki</Caption>
        <Target>http://trac.sharpe-shell.org</Target>
        <Icon>icon.file.url</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Official Website</Caption>
        <Target>http://www.sharpe-shell.org</Target>
        <Icon>icon.file.url</Icon>
      </item>
    </Items>
  </item>
  <item>
    <type>submenu</type>
    <Caption>Configuration</Caption>
    <Target/>
    <Icon>icon.settings</Icon>
    <Items>
      <item>
        <type>link</type>
        <Caption>SharpCenter</Caption>
        <Target>{#SHARPEDIR#}SharpCenter.exe</Target>
        <Icon>icon.controlpanel</Icon>
      </item>
      <item>
        <type>separator</type>
      </item>
      <item>
        <type>submenu</type>
        <Caption>Add Desktop Object</Caption>
        <Target/>
        <Icon>icon.folder.documents</Icon>
        <Items>
          <item>
            <type>objectlist</type>
          </item>
        </Items>
      </item>
      <item>
        <type>link</type>
        <Caption>Desktop Settings</Caption>
        <Target>{#SHARPEDIR#}SharpCenter.exe -api0|{#SHARPEDIR#}Center\Root\Desktop.con</Target>
        <Icon>icon.file.config</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Services</Caption>
        <Target>{#SHARPEDIR#}SharpCenter.exe -api0|{#SHARPEDIR#}Center\Root\Services.con</Target>
        <Icon>icon.file.config</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Themes</Caption>
        <Target>{#SHARPEDIR#}SharpCenter.exe -api0|{#SHARPEDIR#}Center\Root\Themes.con</Target>
        <Icon>icon.file.config</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Toolbars</Caption>
        <Target>{#SHARPEDIR#}SharpCenter.exe -api0|{#SHARPEDIR#}Center\Root\Toolbars.con</Target>
        <Icon>icon.file.config</Icon>
      </item>
    </Items>
  </item>
  <item>
    <type>separator</type>
  </item>
  <item>
    <type>submenu</type>
    <Caption>Shutdown</Caption>
    <Target/>
    <Icon>icon.controlpanel</Icon>
    <Items>
      <item>
        <type>link</type>
        <Caption>Hibernate</Caption>
        <Target>!Hibernate</Target>
        <Icon>icon.settings</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Logout</Caption>
        <Target>!Logout</Target>
        <Icon>icon.settings</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Restart</Caption>
        <Target>!Restart</Target>
        <Icon>icon.settings</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Shutdown</Caption>
        <Target>!Shutdown</Target>
        <Icon>icon.settings</Icon>
      </item>
      <item>
        <type>link</type>
        <Caption>Switch User</Caption>
        <Target>!SwitchUser/LockStation</Target>
        <Icon>icon.settings</Icon>
      </item>
    </Items>
  </item>
</SharpEMenuFile>
