#define IDS_NAME 666
#define IDS_DESCRIPTION 667
#define IDS_AUTHOR 668
#define IDS_VERSION 669
#define IDS_EXTRADATA 670

STRINGTABLE
{
  IDS_NAME "SharpCompile"
  IDS_DESCRIPTION "The fanciest build tool in creation"
  IDS_AUTHOR "Nathan LaFreniere (mc@sharpe-shell.org)"
  IDS_VERSION "0.7.6.5"
  IDS_EXTRADATA "priority: 0|delay: 0"
}