#define IDS_NAME 666
#define IDS_DESCRIPTION 667
#define IDS_AUTHOR 668
#define IDS_EXTRADATA 670

STRINGTABLE
{
  IDS_NAME "SharpDesk"
  IDS_DESCRIPTION "The background application, also manages desktop objects and runs SharpMenu when you right click"
  IDS_AUTHOR "Martin Krämer (MartinKraemer@gmx.net)"
  IDS_EXTRADATA "priority: 130|delay: 0"
}