/* Main page */

#header {background-image: url(images/forum_blue.png);}

#stripe, #navbar #activetab { background-color:#91D1F2; }
.stripetext { padding-top:20px; font-size: 30px; line-height:20px; margin-bottom:2px; }
.stripetext a { color:#000; }
.topcontent { height:70px; }
/* right column */

.rcolspacing { margin-top: 20px; }
.rolborder { border-color:#EEEEEE; border-left:1px solid #EEEEEE; }
.backg-grey { background-color:#FFFFFF;}

#rcolbody { border-color:#EEEEEE; border-left:1px solid #EEEEEE; margin-left:-1px; }
#rcolbody p { padding-left:10px }
#rcolbody h1 { padding-top:18px; padding-left:10px; }
#rcolbody #latest { margin-left:10px; width:500px; text-align:left;}
#rcolbody #latest .col_topic { width:300px; text-align:left; }
#rcolbody #latest .col_topic a { color:#000; }
#rcolbody #latest .col_posts { width: 75px; text-align:left; }
#rcolbody #latest .col_poster { width: 75px; text-align:left; }
#rcolbody #latest .col_freshness { width: 75px; text-align:left; }

.forumheader { background-color:#FFF !important; }
.forumIcon { vertical-align:middle; float:left; padding-right:5px; padding-top:2px;  }
.forumStatusText { vertical-align:text-top; float:left; padding-right:5px; font-size:x-small; font-weight:bold }
.commentIcon { vertical-align:middle; float:left; padding-right:5px; padding-top:3px; }
.addIcon { vertical-align:middle; float:right; padding-right:5px; padding-top:3px; }
.forumTitle { color:#1789C6; padding-left:5px; }
.forumTitle a { color:#1789C6; }
.forumDescription { color:#444444; font-size:13px; padding-left:5px; }

#rcolbody #forumlist { margin-left:10px; text-align:left; }
#rcolbody #forumlist .col_theme { width:375px; text-align:left; }
#rcolbody #forumlist .col_topics { width: 75px; text-align:left; }
#rcolbody #forumlist .col_posts { width: 75px; text-align:left; }

#rcolbody #miniforumlist { margin-left:10px; text-align:left; }
#rcolbody #miniforumlist .col_theme { width:325px; text-align:left; }
#rcolbody #miniforumlist .col_posts { width: 75px; text-align:left; }

#rcolbody #mini_latest { margin-left:10px; width:220px; text-align:left;}
#rcolbody #mini_latest .col_topic { width:45%; }
#rcolbody #mini_latest .col_posts { width:10%; }

#large_latest { width:640px; text-align:left;}
#large_latest .col_topic { width:50%; }
#large_latest .col_posts { width:10%; }
#large_latest .col_poster { width:30%; }
#large_latest .col_freshness { width:10%; }

/* Browsing forums */
.thread { padding-top:20px; }
.thread_main { font-size:16px; }
.thread_infos { text-align:right; font-size:12px; color:#666; } /* evil grey */

/* Reading threads */
.thedate { color:#888; padding-top:10px; } 
.slash{color:#BBB;}
.thetitle a { color: #1789C6; padding-top:21px!important; }
.avatar { background-color:#EBEBEB; height:90px; position:absolute; }
.username { font-size: 14px; color:#333; }
.thethread { padding-top:40px; }
.thethread_alt {  margin-top:20px; padding-top:20px; padding-bottom:20px; background-color:#F8F8F8; }

ul#views {
	margin: 2px 0 0;
	font-size: 12px;
	padding-left:10px;
	padding-top:5px;
}

#views li {
	list-style: none;
	display: inline;
}

.frontpageheatmap {
	line-height: 30px;
	padding-bottom: 10px;
	
}

.frontpageheatmap a {
	color:#000;
}
	