recentfile 	RCDATA	"bookmark-new.png"
open 		RCDATA	"document-open.png"
drivecdrom 	RCDATA	"drive-cdrom.png"
driveharddisk 	RCDATA	"drive-harddisk.png"
driveremovable	RCDATA	"drive-removable-media.png"
folder		RCDATA  "folder.png"
specialfolder	RCDATA	"folder-new.png"
file		RCDATA	"text-x-generic.png"
specialfile	RCDATA	"text-x-script.png"
scriptfile	RCDATA	"utilities-terminal.png"
actions		RCDATA  "emblem-symbolic-link.png"
actionscategory RCDATA	"preferences-desktop.png"
action		RCDATA	"application-x-executable.png"
cube		RCDATA	"blue16.png"
graph		RCDATA	"applications-graphics.png"
