recentfile16 		RCDATA	"bookmark-new.png"
recentfile22 		RCDATA	"bookmark-new22.png"
open16 			RCDATA	"document-open.png"
open22 			RCDATA	"document-open22.png"
drivecdrom16 		RCDATA	"drive-cdrom.png"
drivecdrom22 		RCDATA	"drive-cdrom22.png"
driveharddisk16 	RCDATA	"drive-harddisk.png"
driveharddisk22 	RCDATA	"drive-harddisk22.png"
driveremovable16	RCDATA	"drive-removable-media.png"
driveremovable22	RCDATA	"drive-removable-media22.png"
folder16		RCDATA  "folder.png"
folder22		RCDATA  "folder22.png"
specialfolder16		RCDATA	"folder-new.png"
specialfolder22		RCDATA	"folder-new22.png"
file16			RCDATA	"text-x-generic.png"
file22			RCDATA	"text-x-generic22.png"
specialfile16		RCDATA	"text-x-script.png"
specialfile22		RCDATA	"text-x-script22.png"
scriptfile16		RCDATA	"utilities-terminal.png"
scriptfile22		RCDATA	"utilities-terminal.png"
actions16		RCDATA  "emblem-symbolic-link.png"
actions22		RCDATA  "emblem-symbolic-link22.png"
actionscategory16 	RCDATA	"preferences-desktop.png"
actionscategory22 	RCDATA	"preferences-desktop22.png"
action16		RCDATA	"application-x-executable.png"
action22		RCDATA	"application-x-executable22.png"
cube16			RCDATA	"blue16.png"
cube22			RCDATA	"blue22.png"
graph16			RCDATA	"applications-graphics.png"
graph22			RCDATA	"applications-graphics22.png"
error22			RCDATA	"error.png"
