#define IDS_NAME 666
#define IDS_DESCRIPTION 667
#define IDS_AUTHOR 668
#define IDS_VERSION 669
#define IDS_EXTRADATA 670

STRINGTABLE
{
  IDS_NAME "SharpBar"
  IDS_DESCRIPTION "The toolbars displayed on screen"
  IDS_AUTHOR "Martin Krämer (MartinKraemer@gmx.net)"
  IDS_VERSION "0.7.4.0"
  IDS_EXTRADATA "priority: 140|delay: 1000"
}