#define IDS_NAME 666
#define IDS_DESCRIPTION 667
#define IDS_AUTHOR 668
#define IDS_EXTRADATA 670

STRINGTABLE
{
  IDS_NAME "SharpSplash"
  IDS_DESCRIPTION "Displays a splash screen"
  IDS_AUTHOR "Martin Krämer (MartinKraemer@gmx.net)"
  IDS_EXTRADATA "priority: 10|delay: 0"
}